<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <%- include('./common/header.ejs') %>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body
    class="vertical-layout vertical-menu-modern navbar-floating footer-static"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col=""
  >
    <!-- BEGIN: Header-->
    <%- include('./common/navbar.ejs') %>
    <!-- END: Header-->

    <!-- BEGIN: Main Menu-->
    <%- include('./common/sidebar.ejs') %>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- Dashboard Ecommerce Starts -->
          <section id="dashboard-ecommerce">
            <div class="row match-height">
              <!-- Statistics Card -->
              <div class="col-12">
                <div class="card card-statistics">
                  <div class="card-body statistics-body">
                    <div class="row">
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/employeelist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-light-primary me-2">
                              <div class="avatar-content">
                                <i data-feather="users" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-users%></h4>
                              <h2 class="card-text font-small-3 mb-0">Users</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/projectlist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-light-danger me-2">
                              <div class="avatar-content">
                                <i data-feather="folder" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-project%></h4>
                              <h2 class="card-text font-small-3 mb-0">Projects</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/tasklist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-light-success me-2">
                              <div class="avatar-content">
                                <i data-feather="check-square" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-projectTask%></h4>
                              <h2 class="card-text font-small-3 mb-0">Project Tasks</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/subtasklist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-light-info me-2">
                              <div class="avatar-content">
                                <i data-feather="list" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-projectSubTask%></h4>
                              <h2 class="card-text font-small-3 mb-0">Project Sub Tasks</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/describeworklist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-info-dark me-2">
                              <div class="avatar-content">
                                <i data-feather="clipboard" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-describeWork%></h4>
                              <h2 class="card-text font-small-3 mb-0">Describe Works</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <a class="card_custom" href="/recordlist">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-success-dark me-2">
                              <div class="avatar-content">
                                <i data-feather="file-text" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-record%></h4>
                              <h2 class="card-text font-small-3 mb-0">Records</h2>
                            </div>
                          </div>
                        </a>
                      </div>
                      
                      <div class="col-xl-3 col-sm-6 col-12">
                        <a class="card_custom" href="/contacts">
                          <div class="d-flex flex-row">
                            <div class="avatar bg-light-success me-2">
                              <div class="avatar-content">
                                <i data-feather="phone" class="avatar-icon"></i>
                              </div>
                            </div>
                            <div class="my-auto">
                              <h4 class="fw-bolder mb-0"><%-contact%></h4>
                              <h2 class="card-text font-small-3 mb-0">
                                Contact Us
                              </h2>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Statistics Card -->
              <div class="col-12">
                <div class="card card-statistics">
                  <div class="card-header">
                    <h4 class="card-title">User Chart</h4>
                  </div>
                  <div class="card-body">
                    <div id="chart" style="width: 100%; height: 400px"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Dashboard Ecommerce ends -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <%- include('./common/footer.ejs') %>
    <!-- END: Footer-->

    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <script>
      $(window).on("load", function () {
        if (feather) {
          feather.replace({
            width: 14,
            height: 14,
          });
        }
      });
    </script>
    <script>
      var chartData = JSON.parse("<%- JSON.stringify(chartData) %>");

      document.addEventListener("DOMContentLoaded", function () {
        var options = {
          series: [
            {
              name: "Users",
              data: chartData,
            },
          ],
          chart: {
            height: 350,
            type: "bar",
            toolbar: {
              show: false,
            },
          },
          colors: ["#000000"],
          plotOptions: {
            bar: {
              borderRadius: 10,
              dataLabels: {
                position: "top",
              },
            },
          },

          xaxis: {
            categories: [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ],
            position: "bottom",
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            crosshairs: {
              fill: {
                type: "gradient",
                gradient: {
                  colorFrom: "#D8E3F0",
                  colorTo: "#BED1E6",
                  stops: [0, 100],
                  opacityFrom: 0.4,
                  opacityTo: 0.5,
                },
              },
            },
            tooltip: {
              enabled: true,
            },
          },
          yaxis: {
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            labels: {
              show: false,
              formatter: function (val) {
                return val;
              },
            },
          },
          title: {
            text: "",
            floating: true,
            offsetY: 330,
            align: "center",
            style: {
              color: "#444",
            },
          },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        if (feather) {
          feather.replace({
            width: 14,
            height: 14,
          });
        }
      });
    </script>
  </body>
  <!-- END: Body-->
</html>
